.home-content-wrapper{
    display: flex;
    height: 100vh;
  }
  
  .chat-notification-area{
    flex: 1;
    position: fixed;
    width: 300px;
    border-right: 1px solid;
    height: 100%;
    overflow: auto;

    /* height: 100vh; */
    /* left: 240px; */
  }
  .posts-area{
      /* position: fixed; */
      /* left: 520px; */
      /* height: 100vh; */
      flex: 3;
      padding: 60px 40px;
  }