p{
    margin: unset;
}
.navigation-wrapper{
    display: flex;
    flex-direction: column;
}
.each-notification{
    min-height: 60px;
    max-height: 100px;
    background-color: rgb(228, 228, 228);
    padding: 10px;
    border-bottom: 1px solid rgb(175, 175, 175);
    cursor: pointer;
}
.notification-details-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}